@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&family=Roboto&display=swap');

/*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1.25em;
}

body {
    width:  98vw;
}

h1 {
    color: hsl(302.26, 58.89%, 64.71%);
    text-align: center;
    font-size: 3rem;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    color: hsl(280, 90%, 20%);
    text-align: center;
    font-size: 2.75rem;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.75rem;
}

.color {
    text-align: center;
    width: 90%;
    height: 25vh;
    margin: 0.5rem auto;
    padding: 0.25rem;
    border: 3px solid hsl(248.46, 39%, 39.22%);

    display: flex;
}

.box {
    width: 33%;
    margin: 0 auto;
    border: 1px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.seal_brown {
    background-color: hsl(0, 100%, 16.27%);   
}

.red {
    background-color: hsl(0, 100%, 50%);
}    

.sundown{
    background-color: hsl(0, 100%, 83.73%);
}

.lime {
    background-color: hsl(120, 100%, 50%);
}

.mint_green {
    background-color: hsl(120, 100%, 83.73%);
}

.green {
    background-color: hsl(120, 100%, 16.27%);
}

.blue {
    background-color: hsl(240, 100%, 50%);
}

.navy{
    background-color: hsl(240, 100%, 16.27%);
}

.perano {
    background-color: hsl(240, 100%, 83.73%);
}

.fonts {
    width: 90%;
    margin: 0 auto;

    font-size: 2rem;
    text-align: justify;
}

#roboto {
    font-family: 'Roboto', sans-serif;
    padding: 3rem 0;
}

#open {
    font-family: 'Open Sans', sans-serif;
    padding: 3rem 0;
}

#noto {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 3rem 0;
}