* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:  98vw;
    margin: auto;
    border: 5px solid tomato;
}

h1,
h2,
h3,
img,
footer,
p {
    margin-top: 1rem;
}


header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
    font-family: "Helvetica";
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 0 auto;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

h2{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-family: "Helvetica";
    font-weight: bold;
    color: blue;
}

footer {
    border-top: 1px solid black;
}