body {
    display: grid;
    height: 98vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background: darkgoldenrod;
    padding: 2rem;
}

main{
    background: gray;
}

footer{
    background: darkorchid;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}